@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxygen:wght@700&family=Ubuntu&display=swap');


/* body {
  background-color:rgb(63, 63, 63);
} */



/* Quiz styles */

.quiz-area {
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

#quiz-title {
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
}

#quiz-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  margin-left: 1rem;
  padding: .5rem;
  border-radius: 30px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

#quiz-info:hover {
  transition: .5s;
  transform: rotate(360deg) scale(1.25);
  cursor: help;
}

#info-modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  background:rgba(0, 0, 0, .4);
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index:10000;
}


#info-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 1rem 1rem 5rem rgb(85, 85, 85);
  max-width: 551px;
  max-height: 50vh;
  width: 80%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}


#quiz-image {
  background-image: url("/assets/img/quiz-start.jpg");
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  height: 35vh;
}

#quiz-card {
  height: 35vh;
}

#quiz-question {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Oxygen';
}

#quiz-answers {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: 'Fira Sans';
  text-align: center;
}

/* Quiz button style inspired from https://getcssscan.com/css-buttons-examples button 33 */
.quiz-btn {
  color: inherit;
  background-color:inherit;
  text-align: center;
  width: 90%;
  margin: 0.25rem 5%;
  /* padding: .25rem 1rem; */
  border-radius: 50px;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .25);
  cursor: pointer;
  transition: all 150ms;
  /* font-size: 1rem; */
  font-weight: 600;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.quiz-btn:hover {
  box-shadow: rgba(0, 0 ,0, .35) 0 -.5rem .5rem inset, rgba(0, 0, 0, .35) 0 .25rem .25rem;
  transform: scale(1.05) rotate(-1deg);
}

.quiz-btn:focus {
  outline: none;
}

#quiz-footer {
  /* background-color: #fafafa; */
  margin: .5rem;
  height: 10vh;
  border-radius: 10px;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .25);
}

section {
  padding: 0.5rem;
}

.hide {
  display: none;
}

.correct {
  background-color: rgb(20, 150, 5, 0.800);
  box-shadow: 0 .5rem .5rem rgb(20, 150, 5);
}

.wrong {
  background-color: rgba(200, 30, 5, 0.800);
  box-shadow: 0 .5rem .5rem rgb(200, 30, 5);
}

/* Class used to center elements vertically and horizontally */
/* Credit https://stackoverflow.com/a/16299904 */
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* for IE 9 */
  -webkit-transform: translate(-50%, -50%); /* for Safari */
}

/* Media Queries */
/* For anything smaller than an ipad the #quiz-image is hidden through Bootstrap and #quiz-card takes the extra space */
@media screen and (max-width: 767px) {
  #quiz-card {
    height: 70vh;
  }

  #quiz-title {
    font-size: 1rem;
  }

  #quiz-footer {
    height: 10vh;
    font-size: 0.75rem;
  }
}

